
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    background-color: black;
    margin:0px;
    color:white;
    font-family: "Inter";
}

/* Inter font */



/*----- Share Style---- */
.display-flex{
    display:flex;
}


/*--------Navigation Bar style------     */

header{
     background:linear-gradient(to top,rgba(17, 17, 17, 1),rgba(119, 119, 119, 0));
    
    
}

nav{ 
    max-width:1200px;
    margin:45px auto 30px auto;
    justify-content: space-between;
    align-items: center;

}
h1{
  color:#E6533C;
  font-style: italic;
  font-size:2rem;
  font-weight:800 ;
   
}

.nav-btn {
    border-radius: 40px;
    padding:5px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    gap:35px;
    
}
.nav-btn button{
    border:none;
    color:white;
    border-radius: 46px;
    font-size: 1rem;
    padding:5px 16px; 
    background-color:transparent;
    font-weight:normal; 

   
}

.nav-btn button:first-child{
    background-color: #E6533C;
    font-weight: 600;
}
